<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!--
  logback-classic configuration file [TEST]
  
  Supported log levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF 
 -->

<configuration debug="true">
  <insertFromJNDI env-entry-name="java:comp/env/properties/FSFinanceLogDirectory" as="logdir" />

  <!-- CONSOLE Appender -->
  <appender name="STDOUT-ALL" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT-INFO" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- FILE Appender -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${logdir}/fsfinance-gui.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- CUSTOM logger configuration -->
  <logger name="at.schrogl.fsfinance" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT-ALL" />
  </logger>

  <!-- ROOT logger configuration -->    
  <root level="DEBUG">
    <appender-ref ref="STDOUT-INFO" />
	<appender-ref ref="FILE" />
  </root>
</configuration>