<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!--
  logback-classic configuration file [TEST]
  
  Supported log levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF 
 -->

<configuration debug="true">
  <insertFromJNDI env-entry-name="java:comp/env/properties/FSFinanceLogDirectory" as="logdir" />

  <!-- CONSOLE Appender -->
  <appender name="CONSOLE_all" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="CONSOLE_info" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- FILE Appender -->
  <appender name="FILE_fsfinance" class="ch.qos.logback.core.FileAppender">
    <file>${logdir}/fsfinance-gui.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE_all" class="ch.qos.logback.core.FileAppender">
    <file>${logdir}/fsfinance-all.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE_spring" class="ch.qos.logback.core.FileAppender">
    <file>${logdir}/fsfinance-spring.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE_hibernate" class="ch.qos.logback.core.FileAppender">
    <file>${logdir}/fsfinance-hibernate.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Custom logger configuration -->
  <logger name="at.schrogl.fsfinance" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE_all" />
    <appender-ref ref="FILE_fsfinance" />
    <appender-ref ref="FILE_all" />
  </logger>
  <logger name="org.springframework" level="DEBUG" additivity="true">
    <appender-ref ref="FILE_spring" />
  </logger>
  <logger name="org.hibernate" level="DEBUG" additivity="true">
    <appender-ref ref="FILE_hibernate" />
  </logger>
  <logger name="org.hibernate" level="DEBUG" additivity="true">
    <appender-ref ref="FILE_hibernate" />
  </logger>

  <!-- ROOT logger configuration -->    
  <root level="INFO">
    <appender-ref ref="CONSOLE_info" />
    <appender-ref ref="FILE_all" />
  </root>
</configuration>