<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns="http://www.springframework.org/schema/data/jpa"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    							 http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

  <!-- Scan for Repository Interfaces -->
  <repositories base-package="at.schrogl.fsfinance.persistence.daos" />  

  <beans:beans>
	<!-- Initialize EntityManagerFactory for Spring Data JPA Repositories -->
	<beans:bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
	  <beans:property name="persistenceUnitName" value="fsfinance-test" />
	</beans:bean>
  	
	<!-- Initialize TransactionManager for Spring Data JPA Repositories -->
	<beans:bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	  <beans:property name="entityManagerFactory" ref="entityManagerFactory" />
	</beans:bean>  	
  </beans:beans>

</beans:beans>