<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
	id="FSFinance" version="3.0">

	<!-- General description of your web application -->
	<display-name>FSFinance</display-name>
	<description>
		A little Web-Application to keep track of daily expenses.
	</description>


	<!-- Context Parameters -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
		<description>Don't render XML comments</description>

		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>false</param-value>
		<description>Use NULL values for empty input fields</description>

		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
		<description>Project state: Development|UnitTest|SytemTest|Production</description>

		<param-name>javax.faces.RESOURCE_EXCLUDES</param-name>
		<param-value>.class .jsp .jspx .properties .xhtml</param-value>
		<description>
			Resources that must not be (directly) accessable.
			Default: .class .jsp .jspx .properties .xhtml
		</description>
	</context-param>


	<!-- Servlet Definitions (optional since v3.0) -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>


	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

</web-app>