<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	                       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	                       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd">

  <!-- Load application property file location from JNDI (and use an embedded default file as fallback) -->
  <jee:jndi-lookup id="fsfinanceConfig"
				   jndi-name="fsfinance/ConfigFile"
  				   default-value="classpath:/config/fsfinance-config.properties" />
   
  <!-- Source the application property file, so that its content is available within Spring -->
  <bean id="propertyPlaceholder" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
    <property name="locations" ref="fsfinanceConfig" />
  </bean>

  <!-- Enable use of annotations-drive config for business beans/classes -->
  <context:component-scan base-package="at.schrogl.fsfinance.business" />

</beans>
