<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
  xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
					  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

  <http>
	<!-- Protected URLs -->
	<intercept-url pattern="/**/restricted/admin/**" access="ROLE_ADMIN" />
	<intercept-url pattern="/**/restricted/**" access="ROLE_USER" />
		
	<!-- Configure Login Form -->
	<form-login login-page="/pages/login.xhtml"
				default-target-url="/pages/restricted/home.xhtml"
				login-processing-url="/security/login"
				authentication-failure-url="/pages/login.xhtml?login_error"
				always-use-default-target="false"
				username-parameter="username"
				password-parameter="password" />
					
	<!-- Configure Logout URL -->
	<logout logout-url="/security/logout"/>
  </http>
	
  <authentication-manager>
	<authentication-provider>
	  <user-service>
		<user name="user" password="12init34" authorities="ROLE_USER" />
		<user name="admin" password="12init34" authorities="ROLE_ADMIN,ROLE_USER" />
	  </user-service>
	</authentication-provider>
  </authentication-manager>

</beans:beans>